<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Если запрашивается существующий файл или папка - отдать как есть
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Все остальные запросы перенаправляем на index.php
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>