<div id="modal-admin" class="modal">
    <div class="modal__backdrop"></div>
    <div class="modal__dialog" role="dialog" aria-modal="true">
        <h2 class="modal__title">Вход для администратора</h2>

        <form id="admin-login-form" class="modal__form">
            <input type="text" class="modal__input" placeholder="Логин">
            <input type="password" class="modal__input" placeholder="Пароль">

            <label class="modal__checkbox">
                <input type="checkbox">
                Запомнить меня
            </label>
            <div class="modal__actions-admin">
                <button type="submit" class="modal__submit">Войти</button>
            </div>
        </form>
    </div>
</div>